/.quarto/
.Rproj.user/AF30D38E/sources/per/t/24768628
.Rproj.user/AF30D38E/sources/per/t/24768628-contents
.Rproj.user/AF30D38E/sources/per/t/4ABCF94C
.Rproj.user/AF30D38E/sources/per/t/4ABCF94C-contents
.Rproj.user/AF30D38E/sources/per/t/A9B6EB06
.Rproj.user/AF30D38E/sources/per/t/A9B6EB06-contents
.Rproj.user/AF30D38E/sources/per/t/F3B6D1F0
.Rproj.user/AF30D38E/sources/per/t/F3B6D1F0-contents
.Rproj.user/AF30D38E/sources/prop/17F12671
.Rproj.user/AF30D38E/sources/prop/4B1F7EF3
.Rproj.user/AF30D38E/sources/prop/629D660C
.Rproj.user/AF30D38E/sources/prop/D84643E0
.Rproj.user/AF30D38E/sources/prop/EA25F5F4
.Rproj.user/AF30D38E/sources/s-78093DFE/34CA6F70
.Rproj.user/AF30D38E/sources/s-78093DFE/34CA6F70-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/437A9A38-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/4ABCF94C
.Rproj.user/AF30D38E/sources/s-78093DFE/4ABCF94C-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/77C3926B-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/89F67398-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/A9B6EB06
.Rproj.user/AF30D38E/sources/s-78093DFE/A9B6EB06-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/B7B8F538-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/BC5408DA-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/C0B54A16-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/C950F800-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/DB2326A7
.Rproj.user/AF30D38E/sources/s-78093DFE/DB2326A7-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/EEA30E74-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/F3B6D1F0
.Rproj.user/AF30D38E/sources/s-78093DFE/F3B6D1F0-contents
.Rproj.user/AF30D38E/sources/s-78093DFE/lock_file
.Rproj.user/shared/notebooks/445A74A8-summary/1/AF30D38E78093DFE/chunks.json
.Rproj.user/shared/notebooks/445A74A8-summary/1/AF30D38E78093DFE/chunks.json
.Rproj.user/shared/notebooks/445A74A8-summary/1/AF30D38E78093DFE/chunks.json
